<div id="serverInfo">
  <b-skeleton-wrapper :loading="loading" class="row mb-3 mt-3">
    <template #loading>
      <div class="col" v-for="n in 3">
        <b-card style="height: 110px;">
          <b-skeleton width="85%"></b-skeleton>
          <b-skeleton width="55%"></b-skeleton>
          <b-skeleton width="70%"></b-skeleton>
        </b-card>
      </div>
    </template>
    <div class="row mb-3 mt-3">
      <div class="col">
        <div class="card" style="height: 110px;">
          <div class="card-body">
            <i class="fas fa-server fa-2x" style="position: absolute; right: 1.5rem; opacity: 0.2;"></i>
            <div class="card-title">
              <div class="d-flex">
                <div class="flex-shrink-1 mr-2">
                  <a href="#" class="text-secondary" @click="onRefreshClick()" v-b-tooltip.hover title="Refresh server status">
                    <i class="fas fa-sync-alt fa-sm"></i>
                  </a>
                </div>
                <div class="w-100">
                  <h5 class="text-muted">Zomboid Server Status</h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <server-status :state="sharedState.pzServerState"></server-status>
              </div>
              <div class="col-7 text-right">
                <power-button @power-action="onPowerActionEvent" class="float-right"></power-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 110px;">
          <div class="card-body">
            <i class="fas fa-users fa-2x" style="position: absolute; right: 1.5rem; opacity: 0.2;"></i>
            <h5 class="card-title text-muted">Online Players</h5>
            <span>{% raw %}{{onlinePlayers}}{% endraw %}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 110px;">
          <div class="card-body">
            <i class="fas fa-memory fa-2x" style="position: absolute; right: 1.5rem; opacity: 0.2;"></i>
            <h5 class="card-title text-muted">Resources Usage</h5>
            <b-row>
              <b-col cols="7">
                <resources-usage :cpu="cpuUsage" :memory="memoryUsage"></resources-usage>
              </b-col>
              <b-col cols="5">
                <div style="font-size: 0.694rem;">
                  <i class="fas fa-hdd"></i>
                  Disk Usage
                </div>
                <div class="progress">
                  <div class="progress-bar" v-b-tooltip.hover :title="`Used Space: ${disk.used}`" role="progressbar" v-bind:style="{ width: disk.usagePercent + '%' }"></div>
                  <div class="progress-bar bg-transparent" v-b-tooltip.hover :title="`Available: ${disk.free}`" role="progressbar" v-bind:style="{ width: diskAvailablePercent + '%' }"></div>
                </div>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
  </b-skeleton-wrapper>
  <server-log-modal
    :modal-id="modalId"
    :loading="false"
  ></server-log-modal>
</div>
<script>
Vue.use(VueSSE);

var store = {
  state: {
    pzServerState: null
  },
  setPzServerState(newState) {
    this.state.pzServerState = newState
  }
};

let serverInfo = new Vue({
  el: '#serverInfo',
  data: {
    loading: true,
    cpuUsage: 0,
    memoryUsage: 0,
    onlinePlayers: 0,
    modalId: 'modal-server-logs',
    disk: {
      free: 0,
      used: 0,
      usagePercent: 0
    },
    sharedState: store.state,
    statePollingId: null
  },
  created: function() {
    axios
      .get('/server/status')
      .then((response) => this.$_updateServerStatus(response));
  },
  computed: {
    diskAvailablePercent() {
      return 100.0 - this.disk.usagePercent;
    }
  },
  watch: {
    'sharedState.pzServerState': function (newValue, oldValue) {
      if((newValue == "booting" || newValue == "halting") && !this.statePollingId) {
        var self = this;
        this.statePollingId = setInterval(() => {
          axios
          .get('/server/status')
          .then((response) => self.$_updateServerStatus(response));
        }, 10000);
      } else if (this.statePollingId) {
        clearInterval(this.statePollingId);
        this.statePollingId = null;
      }
    }
  },
  methods: {
    $_updateServerStatus(response) {
      store.setPzServerState(response.data.server_state);
      this.onlinePlayers = response.data.online_players
      this.cpuUsage = response.data.server_resources.cpu
      this.memoryUsage = response.data.server_resources.ram
      this.disk = response.data.server_resources.disk
      this.loading = false;
    },
    onPowerActionEvent(selectedAction) {
      axios.post('/server/power-actions', {
        power_action: selectedAction,
      }).then((response) => {
        store.setPzServerState(response.data.server_state);
        this.successToast(`Action "${selectedAction}" successfully performed.`, "Action Performed");
      }).catch(() => {
        this.errorToast(`Failed to ${selectedAction} the server`, "Error");
      });
    },
    onRefreshClick() {
      this.loading = true;
      axios
        .get('/server/status')
        .then((response) => this.$_updateServerStatus(response));
    },
    openServerLogsModal(){
      this.$bvModal.show(this.modalId);
    },
  },
})
</script>