<div id="serverInfo">
  <b-skeleton-wrapper :loading="loading" class="row mb-3 mt-3">
    <template #loading>
      <div class="col" v-for="n in 3">
        <b-card style="height: 110px;">
          <b-skeleton width="85%"></b-skeleton>
          <b-skeleton width="55%"></b-skeleton>
          <b-skeleton width="70%"></b-skeleton>
        </b-card>
      </div>
    </template>
    <div class="row mb-3 mt-3">
      <div class="col">
        <div class="card" style="height: 110px;">
          <div class="card-body">
            <i class="fas fa-server fa-2x" style="position: absolute; right: 1.5rem; opacity: 0.2;"></i>
            <div class="card-title">
              <div class="d-flex">
                <div class="flex-shrink-1 mr-2">
                  <a href="#" class="text-secondary" @click="onRefreshClick()" v-b-tooltip.hover title="Refresh server status">
                    <i class="fas fa-sync-alt fa-sm"></i>
                  </a>
                </div>
                <div class="w-100">
                  <h5 class="text-muted">Zomboid Server Status</h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <server-status :status="pzserverStatus"></server-status>
              </div>
              <div class="col-8 text-right">
                <power-button @power-action="onPowerActionEvent" class="float-right"></power-button>
                <b-button
                  variant="outline-primary"
                  size="sm"
                  @click="openServerLogsModal"
                  class="float-right mr-1"
                >
                  <i class="fa fa-book"></i>
                  View Logs
                </b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 110px;">
          <div class="card-body">
            <i class="fas fa-users fa-2x" style="position: absolute; right: 1.5rem; opacity: 0.2;"></i>
            <h5 class="card-title text-muted">Online Players</h5>
            <span>{% raw %}{{onlinePlayers}}{% endraw %}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 110px;">
          <div class="card-body">
            <i class="fas fa-memory fa-2x" style="position: absolute; right: 1.5rem; opacity: 0.2;"></i>
            <h5 class="card-title text-muted">Resources Usage</h5>
            <resources-usage :cpu="cpuUsage" :memory="memoryUsage"></resources-usage>
          </div>
        </div>
      </div>
    </div>
  </b-skeleton-wrapper>
  <server-log-modal
    :modal-id="modalId"
    :loading="false"
  ></server-log-modal>
</div>
<script>
Vue.use(VueSSE)
let serverInfo = new Vue({
  el: '#serverInfo',
  data: {
    loading: true,
    pzserverStatus: null,
    cpuUsage: 0,
    memoryUsage: 0,
    onlinePlayers: 0,
    modalId: 'modal-server-logs',
  },
  created: function() {
    var vm = this;
    axios.get('/server/status').then((response) => {
      vm.pzserverStatus = response.data.server_status
      vm.onlinePlayers = response.data.online_players
      vm.cpuUsage = response.data.server_resources.cpu
      vm.memoryUsage = response.data.server_resources.ram
      vm.loading = false;
    });
  },
  methods: {
    onPowerActionEvent(selectedAction) {
      axios.post('/server/power-actions', {
        power_action: selectedAction,
      }).then((response) => {
        this.$bvToast.toast(`Action "${selectedAction}" successfully performed. `, {
          title: `Action Performed`,
          variant: 'success',
          solid: true
        })
      }).catch(() => {
        this.$bvToast.toast(`Failed to ${selectedAction} the server`, {
          title: `Error`,
          variant: 'danger',
          solid: true
        })
      });
    },
    onRefreshClick() {
      var vm = this;
      vm.loading = true;
      axios.get('/server/status').then((response) => {
        vm.pzserverStatus = response.data.server_status
        vm.onlinePlayers = response.data.online_players
        vm.cpuUsage = response.data.server_resources.cpu
        vm.memoryUsage = response.data.server_resources.ram
        vm.loading = false;
      });
    },
    openServerLogsModal(){
      this.$bvModal.show(this.modalId);
    },
  },
})
</script>