<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{{ url_for('static', filename= 'images/favicon.svg') }}" sizes="16x16">
  <title>Project Zomboid - Server Panel</title>

  <!-- CSS only -->
  {% assets "base_css" %}
  <link type="text/css" rel="stylesheet" href="{{ASSET_URL}}"/>
  {% endassets %}

  {% block page_styles %}{% endblock %}

  {% assets "base_js" %}<script src="{{ASSET_URL}}"></script>{% endassets %}

  {% block page_javascript %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
  <header>
    {% include 'partials/_header.html' %}
  </header>

  <main class="flex-shrink-0 mb-3">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    {% include 'partials/_footer.html' %}
  </footer>
</body>
</html>